.bs-box-form__content{
	padding: 20 20 0 20 !important;
}
.bs-box-form__content h2{
	font-size: 16px !important;
}
.bso-texto-salida .bso-text{
	display: inline-block;
	font-size: 14px;
	margin: 0;
	line-height: 16px;
}
.bso-textfield.bs-form__input-field{
	width: 100%;
	height:43px !important;
}
.bso-label-inline{
	font-size:13px !important;
	display: inline-block !important;
}
#loginModule{
	padding-right: 20px !important;
	padding-left: 20px !important;
}
.bso-field .bso-textfield {
	font-size: 14px !important;
}
#loginModule fieldset{
	padding-bottom: 0px !important;
	padding-left: 0px !important;
}
.delUsu{
	margin-top: 65px !important;
	margin-left: 77px;
}
#loginModule{
	min-height: 0px !important;
	padding-top: 15px !important;
}
#loginModule label{
	margin-bottom: 0px;
	margin-top: 0px;
	width: auto;
	font-size: 14px;
}
#loginModule h2{
	padding-right: 0px;
}
.bs-box-form__content .checkboxLog{
	margin-top: 0px !important;
}
.bs-box-form__content .bso-button{
	margin-top: 10px !important;
}
.bso-button-large{
	height: 36px;
}
.bs-login.bso-button.bso-button-large{
	 background-color: #006DFF;
        color: white;
        border: 1px solid #006DFF;
        cursor: pointer;
        font-family: Arial, sans-serif;
        font-size: 14px;
        padding-bottom: 11px;
        padding-top: 11px;
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 5px;
        height: 40px;
}
.bs-login.bso-button.bso-button-large:hover{
        color: #006DFF !important;
        background-color: #F2F8FF;
}
.bs-label-title{
        display: block;
        font-family: Arial, sans-serif;
        font-size: 12px;
        margin-bottom: 3px;
}
.bs-name-title {
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    height: 40px;
}
.bso-enlace.user-change {
    margin-top: 5px !important;
}
.bs-box-form__content .bso-enlace.user-change {
    margin-bottom: 10px;
}
input::-ms-clear{
        display: none;
}
.bs-box-form__content .bso-enlace{
	margin-top:0px;
}
.bs-label{
        box-sizing: border-box;
        display: inline-block;
        font-family: Arial, sans-serif;
        //margin-top: 10px;
        position: relative;
        vertical-align: top;
        width: 100%;
}
.bs-label-wrap{
        border-bottom-color: rgb(0, 0, 0);
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-image-outset: 0;
        border-image-repeat: stretch stretch;
        border-image-slice: 100%;
        border-image-source: none;
        border-image-width: 1;
        border-left-color: rgb(0, 0, 0);
        border-left-style: solid;
        border-left-width: 1px;
        border-right-color: rgb(0, 0, 0);
        border-right-style: solid;
        border-right-width: 1px;
        border-top-color: rgb(0, 0, 0);
        border-top-style: solid;
        border-top-width: 1px;
        box-sizing: border-box;
        font-family: Arial, sans-serif;
        position: relative;
        width: 100%;
}
.bs-dropdown-wrap{
        display: inline-block;
        font-family: Arial, sans-serif;
        position: relative;
        width: 35%;
}
.bs-dropdown-input{
        background-color: rgb(255, 255, 255);
        border-bottom-color: rgb(0, 0, 0);
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-style: none;
        border-bottom-width: 0px;
        border-image-outset: 0;
        border-image-repeat: stretch stretch;
        border-image-slice: 100%;
        border-image-source: none;
        border-image-width: 1;
        border-left-color: rgb(0, 0, 0);
        border-left-style: none;
        border-left-width: 0px;
        border-right-color: rgb(0, 0, 0);
        border-right-style: none;
        border-right-width: 0px;
        border-top-color: rgb(0, 0, 0);
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-top-style: none;
        border-top-width: 0px;
        cursor: pointer;
        font-family: Arial, sans-serif;
        font-size: 14px;
        height: 40px;
        min-width: 70px;
        outline-color: rgb(0, 0, 0);
        outline-style: none;
        outline-width: 0px;
        overflow: hidden;
        overflow-x: hidden;
        overflow-y: hidden;
        padding-bottom: 0px;
        padding-left: 7px;
        padding-right: 35px;
        padding-top: 0px;
        text-align: left;
        text-overflow: ellipsis;width: 70px;
}
#loginModule input{
	font-size: 14px;
	height: 40px;
}
.bs-dropdown-arrow{
        font-family: Arial, sans-serif;
        font-size: 18px;
        position: absolute;
        right: 5px;
        top: 13px;
}
.separador{
        border-bottom-color: rgb(187, 187, 187);
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-image-outset: 0;
        border-image-repeat: stretch stretch;
        border-image-slice: 100%;
        border-image-source: none;
        border-image-width: 1;
        border-left-color: rgb(187, 187, 187);
        border-left-style: solid;
        border-left-width: 1px;
        border-right-color: rgb(187, 187, 187);
        border-right-style: solid;
        border-right-width: 1px;
        border-top-color: rgb(187, 187, 187);
        border-top-style: solid;
        border-top-width: 1px;
        font-family: Arial, sans-serif;
        height: 26px;
        left: 61px;
        position: absolute;
        top: 7px;
        width: 0px;
}
.bs-label-input{
        background-color: rgb(255, 255, 255);
        border-bottom-color: rgb(0, 0, 0);
        border-bottom-style: none;
        border-bottom-width: 0px;
        border-image-outset: 0;
        border-image-repeat: stretch stretch;
        border-image-slice: 100%;
        border-image-source: none;
        border-image-width: 1;
        border-left-color: rgb(0, 0, 0);
        border-left-style: none;
        border-left-width: 0px;
        border-right-color: rgb(0, 0, 0);
        border-right-style: none;
        border-right-width: 0px;
        border-top-color: rgb(0, 0, 0);
        border-top-style: none;
        border-top-width: 0px;
        box-sizing: border-box;
        font-family: Arial, sans-serif;
        font-size: 14px;
        height: 40px;
        line-height: 37.8px;
        min-height: 40px;
        outline-color: rgb(0, 0, 0);
        outline-style: none;
        outline-width: 0px;
        padding-bottom: 0px;
        padding-left: 10px;
        padding-right: 7px;
        padding-top: 0px;
        width: 65%;
}
.icon{
        font-family: Arial, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-variant: normal;
        font-variant-alternates: normal;
        font-variant-caps: normal;
        font-variant-east-asian: normal;
        font-variant-ligatures: normal;
        font-variant-numeric: normal;
        font-variant-position: normal;
        font-weight: 400;
        line-height: 18px;
        text-transform: none;
        cursor: pointer;
}
.bs-dropdown-content{
        background-color: rgb(255, 255, 255);
        border-bottom-color: rgb(187, 187, 187);
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-image-outset: 0;
        border-image-repeat: stretch stretch;
        border-image-slice: 100%;
        border-image-source: none;
        border-image-width: 1;
        border-left-color: rgb(187, 187, 187);
        border-left-style: solid;
        border-left-width: 1px;
        border-right-color: rgb(187, 187, 187);
        border-right-style: solid;
        border-right-width: 1px;
        border-top-color: rgb(0, 0, 0);
        border-top-style: solid;
        border-top-width: 1px;
        box-sizing: border-box;
        display: none;
        font-family: Arial, sans-serif;
        left: 0px;
        list-style-type: none;
        max-height: 149px;
        min-height: 30px;
        overflow: auto;
        overflow-x: auto;
        overflow-y: auto;
        padding-left: 0px;
        position: absolute;
        right: 0px;
        top: 58px;
        touch-action: auto;
        z-index: 2;
}
.mCustomScrollBox{
        max-height: 147px;
        direction: ltr;
        font-family: Arial, sans-serif;
        height: 100%;
        list-style-type: none;
        max-height: 147px;
        max-width: 100%;
        outline-color: rgb(0, 0, 0);
        outline-style: none;
        outline-width: 0px;
        overflow: hidden;
        overflow-x: hidden;
        overflow-y: hidden;
        position: relative;
}
.mCSB_container{
        position:relative;
        top:0;
        left:0;direction:
        ltr;font-family: Arial, sans-serif;
        height: auto;
        left: 0px;
        list-style-type: none;
        margin-right: 0px;
        overflow: hidden;
        overflow-x: hidden;
        overflow-y: hidden;
        position: relative;
        top: 0px;width: auto;
}
.optionLi{
        direction: ltr;
        font-family: Arial, sans-serif;
        list-style-type: none
}
.option{
        border-bottom-color: rgb(187, 187, 187);
        border-bottom-style: solid;
        border-bottom-width: 1px;
        box-sizing: border-box;
        color: rgb(0, 0, 0) !important;
        direction: ltr;
        display: block;
        font-family: Arial, sans-serif;
        font-size: 12px;
        line-height: 24px;
        list-style-type: none;
        max-width: 100%;
        overflow: hidden;
        overflow-x: hidden;
        overflow-y: hidden;
        padding-bottom: 6px;
        padding-left: 7px;
        padding-right: 5px;
        padding-top: 6px;
        text-decoration: none;
        text-decoration-color: rgb(0, 0, 0);
        text-decoration-line: none;
        text-decoration-style: solid;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        z-index: 1;
}
.option:hover{
        border-bottom-color: rgb(0, 109, 255);
        border-bottom-width: 2px;
        overflow-y: hidden;
        padding-bottom: 5px;
        width: 225px;
}
.login-pie{
        //display: inline-table;
        width: 175px;
        margin-top: 5px;
        position: absolute;
        bottom: 5px;
}
.icon-pie{
        width: 10px;
        font-size: 10px;
        line-height: 1.6;
        color: #000000;
        display: table-cell;
        text-align: left;
        //float: left;
        //display: inline-block;
}
.text-pie{
        font-family: Arial;
        font-size: 10px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.6;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
        display: ruby;
        padding-left: 5px;
}
.fieldset-recordado{
	margin-bottom: 21px !important;
}
.text-pie a{
        font-size: 10px;
}
